.btn {
    width: 100%;
    border: none;
    outline: none;
    background: #123f12;
    color: #f4f4f4;
    padding: 16px 2%;
    cursor: pointer;
    font-size: 1.2rem;
}
.btn:hover {
    background: #1d691d;
}